<!DOCTYPE html>
<html lang="en">
<head>
    <title>POS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <%- include('layout/menu'); %>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">LISTA DE MARCAS</div>
            <div class="card-body">
                <a class="btn btn-success" href="/celular/form/0" >NUEVO</a>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>IDMARCA</th>
                        <th>NOMMARCA</th>
                        <th>MODELO</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <% if(dataCelulares.length){ %>
                                <% dataCelulares.forEach( item => {%>
                                    <tr>
                                        <td><%= item.idMarca  %></td>
                                        <td><%= item.nomMarca  %></td>
                                        <td><%= item.modelo  %></td>
                                    </tr>
                                <% })%>
                            <% } %>
                        </tr>
                    </tbody>
                  </table>

            </div>
          </div>
    </div>
</body>
</html>