<!DOCTYPE html>
<html lang="en">
<head>
    <title>MARKETSOFT</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h1>MARKETSOFT</h1>
            </div>
            <div class="btn-group">
              <button type="button" href="#" class="btn btn-secondary">MARKETSOFT</button>
                <button type="button" class="btn btn-secondary"><a href="/equipo/list">CATALOGO</a></button>
                <button type="button" class="btn btn-danger"><a href="/producto/list">Promociones</a></button>
                <button type="button" class="btn btn-secondary"><a href="/accesorios/list">Accesorios</a></button>
                <button type="button" class="btn btn-secondary"><a href="/logeo/list">Nosotros</a></button>

              </div>
            
            <div class="card-body">
                <div class="container">
                    <h3 class="text-danger text-center">APROVECHA AHORA</h3>
                    <p class="text-secondary text-center">Válido solo compra online</p>            
                    <table class="table table-dark">
                      <thead>
                        <tr class="text-center">
                          <th>Equipo</th>
                          <th>Precio Regular</th>
                          <th>Precio Online</th>
                          <th>Stock</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-center">
                          <td>iPhone 13 PRO Max</td>
                          <td class="text-info">S/. 7,200</td>
                          <td>S/. 5,999</td>
                          <th><img src="https://img.europapress.es/fotoweb/fotonoticia_20210915101137_420.jpg" class="rounded" alt="Cinque Terre" width="304" height="236"></th>
                        </tr>
                        <tr class="text-center">
                            <td>Apple Airpods PRO</td>
                            <td class="text-info">S/. 999</td>
                            <td>S/. 749</td>
                            <th><img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F20%2F2021%2F03%2F01%2Fapple-airpods-pro-amazon-deal-sale-2021-tout.jpg&q=85" class="rounded" alt="Cinque Terre" width="304" height="236"></th>
                          </tr>
                        <tr class="text-center">
                          <td>Xiaomi MI 11 Ultra</td>
                          <td class="text-info">S/. 2,900</td>
                          <td>S/. 2,199</td>
                          <th><img src="https://specifications-pro.com/wp-content/uploads/2021/03/Xiaomi-Mi-11-Ultra-1.jpg" class="rounded" alt="Cinque Terre" width="304" height="236"></th></th>
                        </tr>
                        <tr class="text-center">
                          <td>Samsung Galaxy S20 Ultra</td>
                          <td class="text-info">S/. 5,200</td>
                          <td>S/. 3,900</td>
                          <th><img src="https://img.global.news.samsung.com/mx/wp-content/uploads/2020/02/Galaxy-S20-S20-Plus-S20-Ultra-2.jpg" class="rounded" alt="Cinque Terre" width="304" height="236"></th></th>
                        </tr>
                        <tr class="text-center">
                            <td>Realme 8 PRO</td>
                            <td class="text-info">S/. 1,600</td>
                            <td>S/. 1,350</td>
                            <th><img src="https://estaticos-cdn.elperiodico.com/clip/ab5340b0-11ee-4c82-be2d-0767c6660fda_alta-libre-aspect-ratio_default_0.jpg" class="rounded" alt="Cinque Terre" width="304" height="236"></th></th>
                          </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
          </div>
    </div>
</body>
</html>