<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">MARKETSOFT CATALOGO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/equipo/list">CATALOGO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/producto/list">PRODUCTOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/celular/list">CELULARES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/accesorio/list">ACCESORIOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logeo/list">NOSOTROS</a>
        </li>
    </ul>
</nav>